<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>

    <style>
      a{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      }
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
      }

      .container {
        width: 400px;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        text-align: center;
        margin-bottom: 25px;
      }

      input {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button {
        width: 100%;
        padding: 12px;
        border: none;
        background: #007bff;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background: #0056b3;
      }

      .result {
        margin-top: 20px;
        padding: 12px;
        background: #e8f5e9;
        border-radius: 5px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div>
    <div class="container">
      <h1>🔗 URL Shortener</h1>
      <% if (locals.data) { %>
      <p>Url generated http://localhost:8001/url/<%= data.shortId %></p>
      <% } %>
      <form action="/url" method="POST">
        <label>Enter your Original Url</label>
        <input
          type="url"
          name="url"
          placeholder="Enter your long URL"
          required
        />

        <button type="submit">Generate Short URL</button>
      </form>
    </div>
    <a href="/"> Back to Home page</a>
  </div>
  </body>
</html>
